/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/vendor
/bootstrap/cache/*.php
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
coverage/
dist/
build/
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
pnpm-debug.log
/.fleet
/.idea
/.vscode
/.storage
/.DS_Store
.cursorrules
